{var $ogAdds = [
  "og:title" => $product->name, 
	"og:type" => article, 
	"og:description" => $product->brief,
	"article:published_time" => ($product->created_at|date:'c')
]}
{block content}

{* <p><a n:href="Home:default" class="link link-primary link-hover ajax">← back to homepage</a></p> *}
{if $user->isAllowed('media')}
<!-- Open the modal using ID.showModal() method -->
<button class="btn" onclick="media_modal.showModal()">{_g.media.openModal}</button>
<dialog id="media_modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{_g.media.modalTitle}</h3>
    <p class="py-4">{_g.media.modalInstructions}</p>
    <div class="modal-action">
      <form method="dialog">
      <div n:foreach="$images as $image">
    <img class="w-96" src="{$uploadDir}/{$image->filename}" alt="not yet">
    <input type="checkbox" name="gallery" class="checkbox" n:attr="checked: $image->id in $checked,  value: $image->id" />
</div>
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">{_g.media.modalClose}</button>
      </form>
    </div>
  </div>
</dialog>
{/if}
<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
{cache "$locale/$product->id", tags: ["product/$product->id"]}
    <h2 class="card-title" n:block="title">{$product->name}</h2>
    <div class="italic">{$product->created_at|intlDay}</div>
    <div class="font-serif text-justify hyphens-auto italic">{$product->brief}</div>
    <div class="prose text-justify hyphens-auto">{block|trim|parsedown}{$product->description}{/block}</div>
{/cache}
    <div class="card-actions justify-end">
      <a n:if="$user->isAllowed('product')" n:href="Edit:edit $product->id" class="btn btn-primary ajax">{_g.link.editproduct}</a>
    </div>
  </div>
</div>