{block content}
<a n:href="upload">{_g.link.mediaUpload}</a>
{var $alt_column = $locale == 'en' ? 'alt' : 'alt_fi'}
<div n:foreach="$images as $image">
    <a n:href="edit $image->id"><img class="w-96" src="{$uploadDir}/{$image->filename}" alt={$image->$alt_column ?? $image->filename} width={$image->width} height={$image->height}></a>
</div>