{block content}
<div class="flex-col space-y-4">
<div class="mb-4">
    <h1 class="text-4xl font-bold" n:block="title">{_g.media.editTitle}</h1>
</div>
<div class="card shrink-0 w-full shadow-2xl bg-base-100">
<img src="{$uploadDir}/{$image->filename}" alt="{$image->filename}" width={$image->width} height={$image->height}>
{embed basic-form, form: altForm}
{/embed}
</div>
</div>