{* The sign-in page *}

{block content}
<div class="flex flex-col">
<h1 n:block=title class="text-5xl">{_g.sign.inTitle}</h1>

{* Include the generic form template for sign-in *}
{embed basic-form, form: signInForm}
{/embed}

<p class="text-center"><a n:href="up" class="link link-primary ajax">{_g.sign.noAccount}</a></p>
</div>
