welcome: '''
# Welcome!
----
Welcome to my homepage. This is a mixture of blog (for now) and demo, as I am, *I must confess*, a web developer. 😱
'''
elsewhere: 'Elsewhere'
home: 'Home'
link:
    addproduct: 'Add a product'
    logout: "Log out"
    login: "Login"
    register: "Register"
    spot: "SPOT"
    feedback: "Feedback"
    editproduct: 'Edit this product'
spot:
    hour: 'Hour'
    centKwh: 'cent/kWh'
    price: 'Price'
    title: 'SPOT prices'
    heading: 'Day-ahead prices for electricity in Finland'
    explain: 'Prices listed in eurocent / kWh, including VAT'
sign:
    outTitle: 'You have been signed out'
    another: 'Sign in to another account'
    inTitle: 'Sign In'
    noAccount: "Don't have an account yet? Sign up."
    already: 'Already have an account? Log in.'
    upTitle: 'Sign Up'
feedback:
    title: 'Feedback'
    explain: 'Feedback, suggestions and bug reports are welcome.'
    name: 'Name:'
    nameRequired: 'Enter your name'
    email: 'Email address:'
    emailRequired: 'Enter your e-mail'
    message: 'Message:'
    messageRequired: 'Enter message'
    send: 'Send'
    sent: 'The message has been sent'
form:
    username: 'Username:'
    usernameRequired: 'Please enter your username.'
    password: 'Password:'
    passwordRequired: 'Please enter your password.'
    remember: 'Keep me signed in'
    sendSignIn: 'Sign in'
    errorSignIn: 'The username or password you entered is incorrect.'
    upUsername: 'Pick a username:'
    upUsernameRequired: 'Please pick a username.'
    upEmail: 'Your e-mail:'
    upEmailRequired: 'Please enter your e-mail.'
    upEmailInvalid: 'Please enter a valid email address.'
    upPassword: 'Create a password:'
    upPasswordRequired: 'Please create a password.'
    upPasswordDescription: 'at least %d characters'
    sendSignUp: 'Sign up'
    upTaken: 'Username is already taken.'
    upPassLength: 'Please enter at least %d characters.'
dashboard:
    title: 'Dashboard'
    message: 'You have successfully logged in.'
    editAllowed: 'You can add and edit products.'
    noPermissions: 'You do not have permissions on this site.'
    signOut: 'Sign out'
edit:
    noRights: 'You do not have the right to edit products'
    name: 'Name (English):'
    nameRequired: 'A name for the product is required'
    description: 'Description (English):'
    descriptionRequired: 'A description of the product is required'
    name_fi: 'Name (Finnish):'
    name_fiRequired: 'A name for the product is required'
    description_fi: 'Description (Finnish):'
    description_fiRequired: 'A description of the product is required'
    price: 'Price (€):'
    priceRequired: 'A price for the product is required'
    priceLimit: 'Price may not be negative'
    save: 'Save and publish'
    success: 'Product was published'
    notFound: 'Product not found'
    addTitle: 'Add a new product'
    editTitle: 'Edit product'
    floatValid: 'Please enter a valid number.'