welcome: '''
# Tervetuloa!
----
Tervetuloa kotisivuilleni. Tämä on blogin ja demon yhdistelmää, olenhan - *pakko tunnustaa* - webohjelmoija. 😱
'''
elsewhere: 'Muualla'
home: 'Etusivu'
ogDescription: 'Henkilökohtainen blogi jota väsää videopeleihin hurahtanut verkkokehittäjä'
link:
    addproduct: 'Lisää tuote'
    logout: "Kirjaudu ulos"
    login: "Kirjaudu"
    register: "Rekisteröidy"
    spot: "SPOT"
    feedback: "Palaute"
    editproduct: 'Muokkaa tuotetta'
    media: "Kuvagalleria"
    mediaUpload: "Lisää kuva"
spot:
    hour: 'Tunti'
    centKwh: 'snt/kWh'
    price: 'Hinta'
    title: 'SPOT hinnat'
    heading: 'Sähkön markkinahinnat Suomessa'
    explain: 'Hinnat eurosenteissä /kWh, sisältäen ALV:n'
    today: 'Tänään on %day%.'
sign:
    outTitle: 'Olet kirjautunut ulos.'
    another: 'Kirjaudu toiselle tilille'
    inTitle: 'Kirjaudu sisään'
    noAccount: "Ei tiliä? Rekisteröidy."
    already: 'Oletko jo rekisteröitynyt? Kirjaudu sisään.'
    upTitle: 'Rekisteröidy'
feedback:
    title: 'Palaute'
    explain: 'Palaute, ehdotukset ja virheraportit ovat tervetulleita.'
    name: 'Nimi:'
    nameRequired: 'Nimi on pakollinen'
    email: 'Sähköpostiosoite:'
    emailRequired: 'Sähköpostiosoite on pakollinen.'
    message: 'Viesti:'
    messageRequired: 'Viesti on pakollinen.'
    send: 'Lähetä'
    sent: 'Viesti on lähetetty.'
form:
    username: 'Käyttäjätunnus:'
    usernameRequired: 'Syötä käyttäjätunnuksesi.'
    password: 'Salasana:'
    passwordRequired: 'Syötä salasanasi.'
    remember: 'Muista kirjautuminen'
    sendSignIn: 'Kirjaudu sisään'
    errorSignIn: 'Käyttäjätunnus ja/tai salasana olivat virheelliset.'
    upUsername: 'Käyttäjätunnus:'
    upUsernameRequired: 'Käyttäjätunnus on pakollinen.'
    upEmail: 'Sähköposti:'
    upEmailRequired: 'Anna sähköpostiosoitteesi.'
    upEmailInvalid: 'Virheellinen sähköpostiosoite.'
    upPassword: 'Salasana:'
    upPasswordRequired: 'Luo salasana.'
    upPasswordDescription: 'vähintään %d merkkiä'
    sendSignUp: 'Rekisteröidy'
    upTaken: 'Valitsemasi käyttäjätunnus ei ole saatavilla.'
    upPassLength: 'Vähintään %d merkkiä.'
    mdEditor: "Editori"
    mdPreview: "Esikatselu"
dashboard:
    title: 'Omat tiedot'
    message: 'Olet kirjautunut sisään tunnuksella %username%.'
    editAllowed: 'Voit kirjoittaa ja muokata julkaisuja.'
    noPermissions: 'Sinulla ei ole oikeuksia tällä sivustolla.'
    signOut: 'Kirjaudu ulos'
    editDetails: "Muokkaa henkilötietoja"
    mediaAllowed: "Voit lisätä kuvia galleriaan ja tuotteisiin."
    apEnabled: "ActivityPub-ominaisuudet (AP) käytössä. Tilisi näkyy AP-protokollalla, voit vastaanottaa viestejä, ja jos omaat julkaisuoikeudet voit julkaista myös AP-puolelle."
    apDisabled: "ActivityPub-oikeudet kuuluvat tiliisi. Painamalla alla olevaa nappia AP-ominaisuudet kytketään päälle."
    createKeys: "Kytke ActivityPub-ominaisuudet päälle"
    apNotAllowed: "Tililläsi ei ole oikeuksia ActivityPub-ominaisuuksiin."
edit:
    noRights: 'Ei oikeuksia tuotteiden muokkaamiseen.'
    notOwner: 'Et ole julkaisun omistaja.'
    name: 'Nimi (englanninkielinen):'
    nameRequired: 'Syötä tuotenimi'
    description: '[Markdown] Kuvaus (englanninkielinen):'
    descriptionRequired: 'Syötä tuotekuvaus'
    name_fi: 'Nimi (suomenkielinen):'
    name_fiRequired: 'Syötä tuotenimi'
    description_fi: '[Markdown] Kuvaus (suomenkielinen)'
    description_fiRequired: 'Syötä tuotekuvaus'
    price: 'Hinta (€):'
    priceRequired: 'Anna tuotteen hinta'
    priceLimit: 'Ei negatiivisa hintoja'
    save: 'Tallenna ja julkaisu'
    success: 'Tuote julkaistu'
    notFound: 'Tuotetta ei löydy'
    addTitle: 'Lisää tuote'
    editTitle: 'Muokkaa tuotetta'
    floatValid: 'Syötä numero.'
    brief: 'Yhteenveto (englanninkielinen):'
    briefRequired: 'Anna lyhyt kuvaus.'
    brief_fi: 'Yhteenveto (suomenkielinen):'
    brief_fiRequired: 'Anna lyhyt kuvaus.'
    closeHelp: "Sulje"
    openHelp: "Näytä ohjeet"
    helpTitle: "Markdown-ohjeistus"
product:
    galleryOpen: "Valitse tuotekuvat"
    galleryTitle: "Valitse kuvat"
    galleryInstructions: "Valitse tuotekuvat, suositus enintään neljä (4)."
    galleryClose: "Sulje tallentamatta"
    updateGallery: "Tallenna valinnat"
    galleryUpdated: "Kuvavalinnat tallennettu."
media:
    notAllowed: "Sinulla ei ole mediahallintaoikeuksia."
    editTitle: "Muokkaa tekstikuvauksia"
    alt: "Anna lyhyt kuvaus (englanniksi)"
    altRequired: "Kuvaus vaaditaan"
    alt_fi: "Anna lyhyt kuvaus (suomeksi)"
    alt_fiRequired: "Kuvaus vaaditaan"
    sendAltForm: "Tallenna muutokset"
    notFound: "Kuvaa ei löydy tietokannasta"
    defaultInstructions: 
        """
        Punaisilla rajatuilla kuvilla ei ole kuvatekstejä, muokkaa klikkaamalla kuvaa.

        Kuvien alla olevat painikkeet kopioivat leikepöydälle linkin kuvaan **Markdown** muodossa,
        johon on lisätty kuvausteksti painikkeessa mainitulla kielellä.
        """
    altUpdated: "Kuvaustekstit päivitetty."
    copyMDEnglishAlt: "englanti"
    copyMDFinnishAlt: "suomi"
    galleryTitle: "Kuvagalleria"
    copiedToClipboard: "Kopioitu leikepöydälle"
upload:
    title: "Lisää kuva kuvakirjastoosi"
    explain: "Huom! Lisäämäsi kuvat ovat julkisesti ladattavissa vaikket lisäisi niitä tuotteisiin. Tuetut kuvatiedostomuodot %formats%."
    file: "Valitse tiedosto"
    fileRequired: "Ei tiedostoa"
    fileSize: "Tiedoston maksimikoko on %size%."
    fileImage: "Tiedoston on oltava kuvatiedosto."
    send: "Lähetä kuva"
    sent: "Kuvan tallennus onnistui."
user:
    detailsTitle: "Muokkaa tietojasi"
    realname: "Nimi"
    realnameRequired: "Anna nimesi (oikea nimi, lempinimi...)"
    bio: "Lyhyt esittely (englanninkielinen)"
    bioRequired: "Kirjoita esittely"
    bio_fi: "Lyhyt esittely (suomenkielinen)"
    bio_fiRequired: "Kirjoita esittely"
    sendDetailsForm: "Tallenna tiedot"
layout:
    openSidebar: "avaa sivunavigointivalikko"
    closeSidebar: "sulje sivunavigointivalikko"
    labelGlobeMenu: "avaa kielivalikko"
    labelCatlogo: "kissalogo"
    labelGithub: "Github"
    labelItchio: "itch.io"
    labelRSS: "RSS syöte"
mdCheatSheet: '''
Alla olevan ohjeen [alkuperäinen versio](https://github.com/akx/markdown-cheatsheet-fi), Copyright Aarni Koskela.
Joitakin osioita muutettu/poistettu (kaikkia ominaisuuksia ei tueta, lähinnä HTML-tägit Markdownin seassa).

---

Katso myös [John Gruberin alkuperäinen Markdown-määrittely](http://daringfireball.net/projects/markdown/).

## Otsikot

```no-highlight
# H1
## H2
### H3
#### H4
##### H5
###### H6

Voit myös "alleviivata" 1. ja 2. tason otsikot.

Alt-H1
======

Alt-H2
------
```


# H1
## H2
### H3
#### H4
##### H5
###### H6

Voit myös "alleviivata" 1. ja 2. tason otsikot.

Alt-H1
======

Alt-H2
------

## Korostus

```no-highlight
Kursivointi *tähdillä* tai _alaviivoilla_.

Lihavointi **tuplatähdillä** or __tupla-alaviivoilla__.

Yhdistettynä **tähtiä sekä _alaviivoja_**.

Yliviivaus tapahtuu 2 tildellä. ~~Tämä pois.~~
```

Kursivointi *tähdillä* tai _alaviivoilla_.

Lihavointi **tuplatähdillä** or __tupla-alaviivoilla__.

Yhdistettynä **tähtiä sekä _alaviivoja_**.

Yliviivaus tapahtuu 2 tildellä. ~~Tämä pois.~~


## Listat

(Esimerkissä rivin alun ja lopun välilyönnit on merkattu ⋅.)

```no-highlight
1. Ensimmäinen listan jäsen
2. Toinen jäsen.
⋅⋅* Numeroimaton alilista.
1. Numeroilla sinänsä ei ole väliä, kunhan ovat numeroita.
⋅⋅1. Numeroitu alilista
4. Ja vielä yksi kohta.

⋅⋅⋅Voit kirjoittaa myös listan sisään jäsenneltyä tekstiä, kunhan se on sisennetty oikein.

⋅⋅⋅Jollet halua kappalevaihtoa, käytä kahta välilyöntiä rivin lopussa.⋅⋅
⋅⋅⋅Esimerkiksi tämä rivi on samassa kappaleessa, mutta eri rivillä.⋅⋅

* Numeroimattomissa listoissa voi käyttää tähtiä
- Tai miinuksia
+ Tai vaikka plus-merkkejä
```

1. Ensimmäinen listan jäsen
2. Toinen jäsen.
  * Numeroimaton alilista.
1. Numeroilla sinänsä ei ole väliä, kunhan ovat numeroita.
  1. Numeroitu alilista
4. Ja vielä yksi kohta.

   Voit kirjoittaa myös listan sisään jäsenneltyä tekstiä, kunhan se on sisennetty oikein.

   Jollet halua kappalevaihtoa, käytä kahta välilyöntiä rivin lopussa.  
   Esimerkiksi tämä rivi on samassa kappaleessa, mutta eri rivillä.  

* Numeroimattomissa listoissa voi käyttää tähtiä
- Tai miinuksia
+ Tai vaikka plus-merkkejä

## Linkit

Linkkejä voi luoda kahdella tapaa.

```no-highlight
[Olen tekstin sisällä sijaitseva linkki](https://www.google.com)

[Olen tekstin sisällä sijaitseva linkki jossa on otsikko](https://www.google.com "Googlen kotisivu")

[Olen viittaustyyppinen linkki][Vapaavalintainen viittausteksti]

[Viittaukset voi myös numeroida][1]

Tai jättää numeroimatta ja käyttää vain [linkin tekstiä]

Some text to show that the reference links can follow later.

[Vapaavalintainen viittausteksti]: https://www.mozilla.org
[1]: http://slashdot.org
[linkin tekstiä]: http://www.reddit.com
```

[Olen tekstin sisällä sijaitseva linkki](https://www.google.com)

[Olen tekstin sisällä sijaitseva linkki jossa on otsikko](https://www.google.com "Googlen kotisivu")

[Olen viittaustyyppinen linkki][Vapaavalintainen viittausteksti]

[Viittaukset voi myös numeroida][1]

Tai jättää numeroimatta ja käyttää vain [linkin tekstiä]

Some text to show that the reference links can follow later.

[Vapaavalintainen viittausteksti]: https://www.mozilla.org
[1]: http://slashdot.org
[linkin tekstiä]: http://www.reddit.com

## Kuvat

```no-highlight
Alla Pusheen-Octocat.

Tekstin sisällä:
![tilapäisteksti](https://octodex.github.com/images/pusheencat.png "Kuvateksti")

Viittaustyylisesti:
![tilapäisteksti][pusheencat]

[pusheencat]: https://octodex.github.com/images/pusheencat.png "Kuvateksti"
```

Alla Pusheen-Octocat.

Tekstin sisällä:
![tilapäisteksti](https://octodex.github.com/images/pusheencat.png "Kuvateksti")

Viittaustyylisesti:
![tilapäisteksti][pusheencat]

[pusheencat]: https://octodex.github.com/images/pusheencat.png "Kuvateksti"

## Koodi

Koodilohkot eivät ole tyypillistä Markdownia, mutta monet Markdown-tulkit silti tukevat niitä.

```no-highlight
Tekstin sisäinen `koodi` on `gravis-tarkkeiden sisällä`.
```

Tekstin sisäinen `koodi` on `gravis-tarkkeiden sisällä`.

Koodilohkot rajataan kolmella gravis-tarkkeella (tai sisennetään neljällä välilyönnillä). Tarkkeet ovat helpompia käyttää.


    ```Kovasti paljon koodia.
    Jopas on!
    Paljon, paljon koodia.```



```
Kovasti paljon koodia.
Jopas on!
Paljon, paljon koodia.
```

## Taulukot

Taulukotkaan eivät ole tyypillistä Markdownia, mutta monet tulkit tukevat niitä.

```no-highlight
Kaksoispisteitä voi käyttää kolumnien tasauksen vaihtoon

| Taulukot      | On aika          | Kivoi  |
| ------------- |:----------------:| ------:|
| kolumni 3 on  | oikealle tasattu | 16,00€ |
| kolumni 2 on  | keskitetty       |  0,80€ |
| rivit on myös | siistejä         |  1,00€ |

Ulkopuolisiä putkimerkkejä (|) ei tarvitse, eikä raa'an taulukon tarvitse näyttää "kivalta".

Vähemmän | Kaunis | Taulukko
--- | --- | ---
*silti* | **näyttää** | `ekstrakivalta`
1 | 2 | 3

```

Kaksoispisteitä voi käyttää kolumnien tasauksen vaihtoon

| Taulukot      | On aika          | Kivoi  |
| ------------- |:----------------:| ------:|
| kolumni 3 on  | oikealle tasattu | 16,00€ |
| kolumni 2 on  | keskitetty       |  0,80€ |
| rivit on myös | siistejä         |  1,00€ |

Ulkopuolisiä putkimerkkejä (|) ei tarvitse, eikä raa'an taulukon tarvitse näyttää "kivalta".

Vähemmän | Kaunis | Taulukko
--- | --- | ---
*silti* | **näyttää** | `ekstrakivalta`
1 | 2 | 3

## Lainaukset

```no-highlight

> Tässä on lainattua tekstiä.
> Tämä rivi on samaa lainausta.

Hopsaa, toinen lainaus.

> Tämä on kovin pitkä lainaus joka silti pysyy lainauksena vaikka jatkuisikin toiselle riville tekstissä. Ai niin, näissäkin voi olla **Markdownia!**

```

> Tässä on lainattua tekstiä.
> Tämä rivi on samaa lainausta.

Hopsaa, toinen lainaus.

> Tämä on kovin pitkä lainaus joka silti pysyy lainauksena vaikka jatkuisikin toiselle riville tekstissä. Ai niin, näissäkin voi olla **Markdownia!**


## Jakajaviivat

```
Kolme tai enemmän

---

väliviivaa

***

tähteä

___

tai alaviivaa.
```

Kolme tai enemmän

---

väliviivaa

***

tähteä

___

tai alaviivaa.

## Rivinvaihdot

* Kahdella rivinvaihdolla saa aikaan uuden kappaleen. 
* Yksi rivinvaihto kappaleen sisällä pitää uuden rivin samassa kappaleessa.
* Kaksi välilyöntiä rivin lopussa saa aikaan seuraavan rivin olemaan uusi rivi samassa kappaleessa.
'''