welcome: '''
# Tervetuloa!
----
Tervetuloa kotisivuilleni. Tämä on blogin ja demon yhdistelmää, olenhan - *pakko tunnustaa* - webohjelmoija. 😱
'''
elsewhere: 'Muualla'
home: 'Etusivu'
ogDescription: 'Henkilökohtainen blogi jota väsää videopeleihin hurahtanut verkkokehittäjä'
link:
    addproduct: 'Lisää tuote'
    logout: "Kirjaudu ulos"
    login: "Kirjaudu"
    register: "Rekisteröidy"
    spot: "SPOT"
    feedback: "Palaute"
    editproduct: 'Muokkaa tuotetta'
    media: "Kuvagalleria"
    mediaUpload: "Lisää kuva"
spot:
    hour: 'Tunti'
    centKwh: 'snt/kWh'
    price: 'Hinta'
    title: 'SPOT hinnat'
    heading: 'Sähkön markkinahinnat Suomessa'
    explain: 'Hinnat eurosenteissä /kWh, sisältäen ALV:n'
    today: 'Tänään on %day%.'
sign:
    outTitle: 'Olet kirjautunut ulos.'
    another: 'Kirjaudu toiselle tilille'
    inTitle: 'Kirjaudu sisään'
    noAccount: "Ei tiliä? Rekisteröidy."
    already: 'Oletko jo rekisteröitynyt? Kirjaudu sisään.'
    upTitle: 'Rekisteröidy'
feedback:
    title: 'Palaute'
    explain: 'Palaute, ehdotukset ja virheraportit ovat tervetulleita.'
    name: 'Nimi:'
    nameRequired: 'Nimi on pakollinen'
    email: 'Sähköpostiosoite:'
    emailRequired: 'Sähköpostiosoite on pakollinen.'
    message: 'Viesti:'
    messageRequired: 'Viesti on pakollinen.'
    send: 'Lähetä'
    sent: 'Viesti on lähetetty.'
form:
    username: 'Käyttäjätunnus:'
    usernameRequired: 'Syötä käyttäjätunnuksesi.'
    password: 'Salasana:'
    passwordRequired: 'Syötä salasanasi.'
    remember: 'Muista kirjautuminen'
    sendSignIn: 'Kirjaudu sisään'
    errorSignIn: 'Käyttäjätunnus ja/tai salasana olivat virheelliset.'
    upUsername: 'Käyttäjätunnus:'
    upUsernameRequired: 'Käyttäjätunnus on pakollinen.'
    upEmail: 'Sähköposti:'
    upEmailRequired: 'Anna sähköpostiosoitteesi.'
    upEmailInvalid: 'Virheellinen sähköpostiosoite.'
    upPassword: 'Salasana:'
    upPasswordRequired: 'Luo salasana.'
    upPasswordDescription: 'vähintään %d merkkiä'
    sendSignUp: 'Rekisteröidy'
    upTaken: 'Valitsemasi käyttäjätunnus ei ole saatavilla.'
    upPassLength: 'Vähintään %d merkkiä.'
dashboard:
    title: 'Omat tiedot'
    message: 'Olet kirjautunut sisään.'
    editAllowed: 'Voit lisätä ja muokata tuotteita.'
    noPermissions: 'Sinulla ei ole oikeuksia tällä sivustolla.'
    signOut: 'Kirjaudu ulos'
edit:
    noRights: 'Ei oikeuksia tuotteiden muokkaamiseen'
    name: 'Nimi (englanninkielinen):'
    nameRequired: 'Syötä tuotenimi'
    description: 'Kuvaus (englanninkielinen):'
    descriptionRequired: 'Syötä tuotekuvaus'
    name_fi: 'Nimi (suomenkielinen):'
    name_fiRequired: 'Syötä tuotenimi'
    description_fi: 'Kuvaus (suomenkielinen)'
    description_fiRequired: 'Syötä tuotekuvaus'
    price: 'Hinta (€):'
    priceRequired: 'Anna tuotteen hinta'
    priceLimit: 'Ei negatiivisa hintoja'
    save: 'Tallenna ja julkaisu'
    success: 'Tuote julkaistu'
    notFound: 'Tuotetta ei löydy'
    addTitle: 'Lisää tuote'
    editTitle: 'Muokkaa tuotetta'
    floatValid: 'Syötä numero.'
    brief: 'Lyhyt kuvaus (englanninkielinen):'
    briefRequired: 'Anna lyhyt kuvaus.'
    brief_fi: 'Lyhyt kuvaus (suomenkielinen):'
    brief_fiRequired: 'Anna lyhyt kuvaus.'
product:
    galleryOpen: "Valitse tuotekuvat"
    galleryTitle: "Valitse kuvat"
    galleryInstructions: "Valitse tuotekuvat, suositus enintään neljä (4)."
    galleryClose: "Sulje tallentamatta"
    updateGallery: "Tallenna valinnat"
    galleryUpdated: "Kuvavalinnat tallennettu."
media:
    notAllowed: "Sinulla ei ole mediahallintaoikeuksia."
    editTitle: "Muokkaa tekstikuvauksia"
    alt: "Anna lyhyt kuvaus (englanniksi)"
    altRequired: "Kuvaus vaaditaan"
    alt_fi: "Anna lyhyt kuvaus (suomeksi)"
    alt_fiRequired: "Kuvaus vaaditaan"
    sendAltForm: "Tallenna muutokset"
    notFound: "Kuvaa ei löydy tietokannasta"
    defaultInstructions: "Punaisilla rajatuilla kuvilla ei ole kuvatekstejä, muokkaa klikkaamalla kuvaa"
upload:
    title: "Lisää kuva kuvakirjastoosi"
    explain: "Huom! Lisäämäsi kuvat ovat julkisesti ladattavissa vaikket lisäisi niitä tuotteisiin. Avatessasi tiedostovalitsimen näet tuetut kuvatiedostomuodot."
    file: "Valitse tiedosto"
    fileRequired: "Ei tiedostoa"
    fileSize: "Tiedoston maksimikoko on %size% MB."
    fileImage: "Tiedoston on oltava kuvatiedosto."
    send: "Lähetä kuva"