parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
		Admin: App\Module\Admin\Presenters\*Presenter
		Auxiliary: App\Module\Auxiliary\Presenters\*Presenter

latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	vite: Mskocik\Vinette\Bridges\NetteDI\ViteExtension
	parsedown: Contributte\Parsedown\DI\ParsedownExtraExtension
	embeddedSvg: Milo\EmbeddedSvg\Extension
	translation: Contributte\Translation\DI\TranslationExtension

vite:
	manifest: assets/build/manifest.json
	wwwDir: public_html
	devServer: http://localhost:5174 

embeddedSvg:
	baseDir: %wwwDir%/img
	macroName: svgIcon

translation:
	locales:
		whitelist: [en, fi]
		default: en
		fallback: [en]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is true
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Router

forms:
	messages:
		Email: g.form.upEmailInvalid
		Float: g.edit.floatValid