parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
		Admin: App\Module\Admin\Presenters\*Presenter
		Auxiliary: App\Module\Auxiliary\Presenters\*Presenter

latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	vite: Mskocik\Vinette\Bridges\NetteDI\ViteExtension

vite:
	manifest: assets/build/manifest.json
	wwwDir: public_html
	devServer: http://localhost:5174 