services:
	- App\Router\RouterFactory::createRouter
	- App\Model\AuthorizatorFactory::create
	- App\Settings(
		%entsoeToken%,
		%adminEmail%,
		%adminName%,
		%botEmail%
	)
	cache.storage: App\Model\LockingSQLiteStorage('%tempDir%/cache.db')
	# cache.storage: Nette\Caching\Storages\SQLiteStorage('%tempDir%/cache.db')
#	cache.storage: App\Model\APCuStorage

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
