services:
	- App\Router\RouterFactory::createRouter
	- App\Model\AuthorizatorFactory::create
	- App\Settings(
		%entsoeToken%,
		%adminEmail%,
		%adminName%,
		%botEmail%
	)

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
