@import 'tailwindcss';

@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "gorhug";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(18.71% 0.059 4.10);
  --color-base-200: oklch(16.71% 0.059 4.10);
  --color-base-300: oklch(15.21% 0.059 4.10);
  --color-base-content: oklch(89.84% 0.011 3.55);
  --color-primary: oklch(73.19% 0.186 52.98);
  --color-primary-content: oklch(14.74% 0.037 54.26);
  --color-secondary: oklch(42.09% 0.193 328.36);
  --color-secondary-content: oklch(89.84% 0.011 3.55);
  --color-accent: oklch(53.05% 0.293 293.94);
  --color-accent-content: oklch(89.84% 0.011 3.55);
  --color-neutral: oklch(15.11% 0.009 31.69);
  --color-neutral-content: oklch(89.84% 0.011 3.55);
  --color-info: oklch(80.64% 0.143 215.17);
  --color-info-content: oklch(14.74% 0.037 54.26);
  --color-success: oklch(89.54% 0.138 152.15);
  --color-success-content: oklch(14.74% 0.037 54.26);
  --color-warning: oklch(96.80% 0.211 109.77);
  --color-warning-content: oklch(14.74% 0.037 54.26);
  --color-error: oklch(69% 0.258 29.23);
  --color-error-content: oklch(14.74% 0.037 54.26);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
