<button class="btn btn-primary" onclick="cheatsheet.showModal()">{_g.edit.openHelp}</button>
<dialog id="cheatsheet" class="modal" label={_g.edit.helpTitle}>
  <div class="modal-box max-w-none">
    <h3 class="text-lg font-bold">{_g.edit.helpTitle}</h3>
    {* <p class="py-4">Press ESC key or click on ✕ button to close</p> *}
    <div class="tabs tabs-border">
        <input type="radio" id="markdownMD" name="mdTabs" class="tab hidden" aria-label="Markdown" />
        <pre class="tab-content border-base-300 bg-base-100 p-10 text-left text-wrap">{_g.mdCheatSheet}</pre>
        <input type="radio" id="markdownHTML" name="mdTabs" class="tab hidden" aria-label="HTML" checked="checked" />
        <div class="tab-content border-base-300 bg-base-100 p-10 prose text-left max-w-none">{block|parsedown}{_g.mdCheatSheet}{/block}</div>
    </div>
  </div>
  <div class="toast toast-center toast-bottom flex flex-row">
  {* <label for="markdownMD" class="btn">Markdown</label><label for="markdownHTML" class="btn">HTML</label> *}
  <form method="dialog">
      <button class="btn btn-primary">{_g.edit.closeHelp}</button>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
      <button>{_g.edit.closeHelp}</button>
    </form>
</dialog>
