{block content}

<div class="flex flex-col space-y-8">
<h1 class="text-5xl" n:block=title>{_g.dashboard.title}</h1>
{var $username = $user->getIdentity()->username}
{var $alt_column = $locale == 'en' ? 'alt' : 'alt_fi'}
<p>{_g.dashboard.message, [username => $username]}</p>

<article id="profile" class="space-y-4">
<section n:class="!$avatar ? avatar-placeholder, avatar">
  <div class="bg-neutral text-neutral-content w-24">
    <span n:if="!$avatar" class="text-3xl">{$username|first|upper}</span>
    <img n:else src="{$uploadDir}/{$avatar->filename}" alt={$avatar->$alt_column ?? $avatar->filename} width={$avatar->width} height={$avatar->height}>
  </div>
</section>
{var $bio_column = $locale == fi ? bio_fi : bio}

<p n:if="$details->realname">{$details->realname}</p>
<p n:else>{_g.dashboard.realnameNotSet}</p>

<section n:if="$details->$bio_column" class="prose" hx-disable>{block|parsedown}{$details->$bio_column}{/block}</section>
<p n:else>{_g.dashboard.bioNotSet}</p>

<a n:href="details" class="btn btn-primary">{_g.dashboard.editDetails}</a>
</article>

{if $user->isAllowed('product')}
    <p>{_g.dashboard.editAllowed}</p>
{else}
    <p>{_g.dashboard.noPermissions}</p>
{/if}

{if $user->isAllowed('media')}
    <p>{_g.dashboard.mediaAllowed}</p>
{else}
    <p>{_g.dashboard.mediaNoPermissions}</p>
{/if}

{if $user->isAllowed('user')}
<div class="prose">
    {control simpleGrid}
</div>
{* <script src="{='src/js/dg.js'|asset}" type="module"></script> *}
{/if}

{if $user->isAllowed('activitypub')}
    {if $public_key}
    <p>
        {_g.dashboard.apEnabled}
    </p>
    {else}
    <p>
        {_g.dashboard.apDisabled}
    </p>
        <a n:href="keys!" class="btn btn-primary">{_g.dashboard.createKeys}</a>
    {/if}
{else} 
    {_g.dashboard.apNotAllowed}
{/if}
<p><a n:href="Sign:out" class="link link-primary">{_g.dashboard.signOut}</a></p>
</div>
